@use "../../style/variables.scss" as *;

.pageHero {
  padding: 30px 150px;
  color: $white;
  // background-position: center;
  // background-size: cover;
}

.content {
  text-align: center;
}

.title {
  // margin-top: 111px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
}
