@use "../../style/variables.scss" as *;

.mainPageHero {
  //   text-align: center;

  &__title {
    // font-weight: 700;
    // font-size: 40px;
    // margin-bottom: 20px;
  }
  &__logo {
    width: 200px;
    height: 30px;
    margin-bottom: 35px;
  }

  &__desc {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__button {
    padding: 7px 42px 7px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    width: 120px;
    height: 30px;
    border: 1px solid $white;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    color: $white;
  }
}
