.mainPageHero {
  // display: flex;
  // flex-direction: column;

  &__title {
    font-size: 50px;
  }
  &__subtitle {
    font-size: 50px;
  }
  &__button {
  }
  &__logo {
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
}
