@use "./variables.scss" as *;
// @import url(https://fonts.googleapis.com/css?family=Merienda:400,700);
@import url(../style/fonts/merienda.css);
:root {
  font-family: "Merienda", serif;
  font-weight: 400;
  // color: $white;
  color: $black;
  // background-color: gray;
}

// body {
//   margin: 0 auto;
//   display: flex;
// }

// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
//   cursor: pointer;
// }
// a:hover {
//   color: #535bf2;
// }
