@use "../../style/variables.scss" as *;

.coffeeCard {
  display: flex; // Делаем карточку flex-контейнером
  flex-direction: column; // Элементы внутри карточки располагаются вертикально
  padding: 22px;
  // min-width: 220px;
  width: 220px;
  min-height: 240px;
  text-align: center;
  color: $black;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 300ms ease-in, box-shadow 300ms ease-in;

  &:hover {
    background-color: rgba(127, 126, 126, 0.7);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.85);
  }

  &__link {
    display: flex;
    flex-direction: column;
    // flex-grow: 1; // Ссылка занимает всё доступное пространство
  }

  &__img {
    width: 100%;
    height: 135px;
    object-fit: cover;
    margin-bottom: 14px;
    border-radius: 8px;
  }

  &__title {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: $black;
    min-height: 40px; // Фиксированная минимальная высота для заголовка
  }

  &__country {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 14px;
    text-align: end;
    color: $black;
    min-height: 20px; // Фиксированная минимальная высота для страны
  }

  &__price {
    font-weight: 700;
    font-size: 14px;
    text-align: end;
    color: $black;
    margin-top: auto; // Прижимаем цену к низу карточки
  }
}
