@use "../../style/variables.scss" as *;

.coffeeCardList {
  &__container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 70px;
  }
  &__notFound {
    font-family: "Merienda", serif;
    font-weight: 400;
    text-align: center;
    font-size: 50px;
    // margin: 0 auto;
  }

  &__error {
    margin: 50px;
    display: flex;
    justify-content: center;
  }
  &__errorMessage {
    margin-right: 30px;
  }
  &__button {
    font-size: 14px;
    border: none;
    padding: 7px 15px 5px;
    width: 150px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    color: $black;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: $white;
    cursor: pointer;
    transition: background-color 300ms ease-in, box-shadow 300ms ease-in;

    &:hover {
      background-color: rgba(127, 126, 126, 0.7);
      box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.85);
    }
  }
}
